<!DOCTYPE html>
<head>
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/css/AdminIndex.css" />
</head>
@model List<Product>

@{
    Layout = "_AdminLayout";
}
@if (TempData["message"] != null)
{
    <div>@TempData["message"]</div>
}
<div class="table-container">
    <table>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Категория</th>
            <th>Цена</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Category</td>
                <td>@product.Price.ToString("c")</td>
                <td class="buttons">
                    <a class="edit-button" asp-action="Edit" asp-route-productId="@product.Id">Изменить</a>
                    <input type="hidden" id="@product.Id" value="@product.Name" />
                    <a href="#" id="@product.Id" class="delete-button">Удалить</a>
                </td>
            </tr>
        }
    </table>
    
    <div class="create-button-container">
        <a class="create-button" asp-action="Create">Создать</a>
    </div>
</div>
<div class="delete-dialog">
    <div class="delete-dialog__content">
        <div class="delete-dialog__button_close">+</div>
        <div class="delete-dialog__text"></div>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="ProductId" id="ProductId" />
            <div id="delete-form-text"></div>
            <button class="delete-dialog__button_delete" type="submit">Удалить</button>
        </form>
    </div>
</div>



<script>
    document.querySelectorAll('.delete-button').forEach(function (item) {
        item.addEventListener('click', function () {
            let productID = item.getAttribute('id');
            let productName = document.getElementById(productID).value;
            document.querySelector('.delete-dialog').style.display = 'flex';
            document.getElementById('ProductId').value = productID;
            document.getElementById('delete-form-text').innerText = `Вы действительно хотите удалить ${productName}?`;
        });
    });

    document.querySelector('.delete-dialog__button_close').addEventListener('click', function () {
        document.querySelector('.delete-dialog').style.display = 'none';
    });
</script>
