@model Project.Views.ViewModels.CartIndexViewModel
<div id="CartLine" name="CartLine" class="cart">
    @foreach (var line in Model.CartLine)
    {
        <div class="cart__line">
            <div class="cart__line_text">
                <p>@line.Product.Name</p>
                <p>Количество: @line.Quantity</p>
                <p>Цена: @line.Product.Price.ToString("c")</p>                
            </div>          
            <form asp-action="RemoveFromCart" method="post" asp-controller="Cart">
                <input type="hidden" name="Id" value="@line.Product.Id" />
                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                <button class="cart__button_remove" type="submit">Убрать</button>
            </form>
        </div>
    }
    <div class="cart__button_back">
        @Html.ActionLink("Назад", "Index", "Home")
    </div>
</div>

